# default
USERNAME="John Doe"
EMAIL="john@email.com"
PASSWORD="pass1234"

# overrides default USERNAME, EMAIL & PASSWORD
TERMUX_PASSWORD="pass1234"

UBUNTU_USERNAME="John Doe"
UBUNTU_PASSWORD="pass1234"

DEBIAN_USERNAME="John Doe"
DEBIAN_PASSWORD="pass1234"

GIT_USERNAME="John Doe"
GIT_EMAIL="john@email.com"

GITHUB_USERNAME="johndoe"
GITHUB_EMAIL="john@email.com"

# SSH variables
GITHUB_PAT=ghp_abcdefghijklmnopqrstuvwxyz0123456789ABCD

TERMUX_SSH_KEY_NAME="ANDROIDNAME_TERMUX"
UBUNTU_SSH_KEY_NAME="DESKTOPNAME-WSL-UBUNTU"

# refer to proot-disto documentation
PROOT_DISTRO="ubuntu"
PROOT_DISTRO_ALIAS="ubuntu" # optional
