# default
USERNAME="John Doe"
EMAIL="john@email.com"
PASSWORD="pass1234"

# overrides default USERNAME, EMAIL & PASSWORD
TERMUX_PASSWORD="pass1234"

UBUNTU_USERNAME="rxchris"
UBUNTU_PASSWORD="pass1234"

GIT_NAME="John Doe"
GIT_EMAIL="john@email.com"

GITHUB_NAME="johndoe"
GITHUB_EMAIL="john@email.com"

# other environment variables
GITHUB_PAT=ghp_abcdefghijklmnopqrstuvwxyz0123456789ABCD

TERMUX_SSH_KEY_NAME="ANDROIDNAME_TERMUX"
UBUNTU_SSH_KEY_NAME="DESKTOPNAME-WSL-UBUNTU"
