# default
USERNAME="John Doe"
EMAIL="john@email.com"
PASSWORD="pass1234"

# overrides default USERNAME, EMAIL & PASSWORD
TERMUX_PASSWORD="pass1234"

UBUNTU_USERNAME="John Doe"
UBUNTU_PASSWORD="pass1234"

DEBIAN_USERNAME="John Doe"
DEBIAN_PASSWORD="pass1234"

GIT_USERNAME="John Doe"
GIT_EMAIL="john@email.com"

GITHUB_USERNAME="johndoe"

# Github variables
GITHUB_EMAIL="john@email.com"
GITHUB_PAT=ghp_abcdefghijklmnopqrstuvwxyz0123456789ABCD
GITHUB_SSH_KEY_NAME="github" # e.g ~/.ssh/github  and ~./ssh/github.pub
GITHUB_SSH_KEY_TITLE="HOSTNAME_PLATFORM_RUNTIME" # title in Github settings

# refer to proot-disto documentation
PROOT_DISTRO="ubuntu"
PROOT_DISTRO_ALIAS="ubuntu" # optional
